.calculator {
    height: 320px;
    width: 235px;
    box-shadow: 2px 0px 8px 0px rgba(23,34,41,1);
    border-radius: 5px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}